/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: #777;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }